@(listaDeUsuarios: List[Usuario])

@main("DropBox") {

  <div>
    <h2>
      Cadastrar Usuario
    </h2>

    <form method="post" action="@routes.Application.cadastrarUsuario()">
      <tr>
        <label>Nome: </label>
        <input type="text" name="nome" placeholder="Nome" class="formbutton" minlength="3" maxlength="20"><br>
      </tr>
      <tr>
        <label>Email: </label>
        <input type="email" name="email" placeholder="email"><br>
      </tr>
      <tr>
        <label>Senha: </label>
        <input type="password" name="senha" placeholder="senha" minlength="8"><br>
      </tr>
      <tr>
        <td>


          <input name="Reset" type="reset" class="formobjects" value="Redefinir">
        </td>
      </tr>
    </form>
  </div>

  <div>
    <h2><a href="@routes.Application.index()">Voltar</a></h2>
  </div>

  <div>

    <h2 align="center">
      ** Usuarios cadastrados **
    </h2>

    <table border="6" align="center">
      <tr>
        <th>Nome</th>
        <th>Email</th>
      </tr>

      @for(usuario <- listaDeUsuarios){
        <tr>
          <td>@usuario.getNome()</td>
          <td>@usuario.getEmail()</td>
        </tr>
      }
    </table>
  </div>
}