@main("SIBox") {
    <head>
        <meta charset="UTF-8">
        <title>SIBox</title>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/fonte-login.css")" type="text/css">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/normalize-index.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/index.css")">
    </head>

    <body>
        <div class="form">

            <ul class="tab-group">
                <li class="tab active"><a href="#entrar">Entrar</a></li>
                <li class="tab"><a href="#cadastrar">Cadastrar</a></li>
            </ul>

            <div class="tab-content">
                <div id="entrar">
                    <h1>Esse é o SIBox!</h1>

                    <form method="post" action="@routes.Application.logar()">

                        <div class="field-wrap">
                            <label>
                                Email<span class="req">*</span>
                            </label>
                            <input type="email" name="email" required autocomplete="off"/>
                        </div>

                        <div class="field-wrap">
                            <label>
                                Senha<span class="req">*</span>
                            </label>
                            <input type="password" name="senha" required autocomplete="off"/>
                        </div>

                        <p class="forgot"><a href="#">Esqueceu a senha?</a></p>

                        <button name="Submit" type="submit"  class="button button-block">Entrar</button>

                    </form>
                </div>

                <div id="cadastrar">
                    <h1>Cadastre-se no SIBox!</h1>

                    <form method="post" action="@routes.Application.cadastrarUsuario()">

                        <div class="field-wrap">
                            <label>
                                Usuário<span class="req">*</span>
                            </label>
                            <input type="text" name="nome" required autocomplete="off" minlength="3" maxlength="20" />
                        </div>


                        <div class="field-wrap">
                            <label>
                                Email<span class="req">*</span>
                            </label>
                            <input type="email" name="email" required autocomplete="off"/>
                        </div>

                        <div class="field-wrap">
                            <label>
                                Senha<span class="req">*</span>
                            </label>
                            <input type="password" name="senha" minlength="8" required autocomplete="off"/>
                        </div>

                        <button name="Submit" type="submit" class="button button-block">Cadastre-se!</button>

                    </form>

                </div>

            </div><!-- tab-content -->
        </div> <!-- /form -->

        <script src="@routes.Assets.at("javascripts/jquery-2.2.0.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/index.js")"></script>

    </body>
}
